{% extends 'app/base.html' %}
{% load static %}
{% block title %} about {% endblock title %}

{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">about us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">
                this is public limited company having its
                reg Complete Django Project in One Video
                Django Project
                Django
                Student Project
                Ecommerce Project
                Download Material:
            </p>
        </div>
    </div>
{% endblock main-content %}